<!DOCTYPE html>
<html class="js" lang="en-US">
   <head itemscope="" itemtype="http://schema.org/WebSite">
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="UTF-8">
      <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
      <!--[if IE ]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
      <link rel="profile" href="https://gmpg.org/xfn/11">
      <link rel="icon" href="../Leighwood-favico.png" type="image/x-icon">
      <!--iOS/android/handheld specific -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta itemprop="name" content="Leighwood Macau Ltd.">
      <meta itemprop="url" content="https://www.leighwoodasia.com">
      <meta itemprop="creator accountablePerson" content=" ">
      <title>Bogo Plugin – Leighwood Macau Ltd.</title>
      <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace( /\bno-js\b/,'js' );</script>
      <link rel="dns-prefetch" href="https://s.w.org/">
      <script type="text/javascript">
         window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.leighwoodasia.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.2.21"}};
         !function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])?!1:!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
      </script>
      <style type="text/css">
         img.wp-smiley,
         img.emoji {
         display: inline !important;
         border: none !important;
         box-shadow: none !important;
         height: 1em !important;
         width: 1em !important;
         margin: 0 .07em !important;
         vertical-align: -0.1em !important;
         background: none !important;
         padding: 0 !important;
         }
      </style>
      <link rel="stylesheet" id="wp_review-style-css" href="../wp-review.css" type="text/css" media="all">
      <link rel="stylesheet" id="stylesheet-css" href="../style.css" type="text/css" media="all">
      <style id="stylesheet-inline-css" type="text/css">
         body {background-color:#ffffff; }
         body {background-image: url(../nobg.png );}
         .postauthor h5, .copyrights a, .single_post a, .textwidget a, #logo a, .pnavigation2 a, .sidebar.c-4-12 a:hover, .copyrights a:hover, .sidebar.c-4-12 a:hover, .related-posts a:hover, .reply a, .title a:hover, .post-info a:hover, .comm, #tabber .inside li a:hover, .readMore a:hover, .fn a, a, a:hover, #copyright-note .footer-copyright-text a:hover, #navigation ul li:hover > a { color:#fac759; }
         .pace .pace-progress, #mobile-menu-wrapper ul li a:hover, nav a#pull, #commentform input#submit, .contactform #submit, .mts-subscribe input[type='submit'], #move-to-top:hover, #searchform .fa-search, .pagination a, #tabber ul.tabs li a.selected, .tagcloud a, #navigation ul .sfHover a, #searchsubmit, #load-posts a, .hex-color, .bypostauthor:after, .latestPost-review-wrapper, .main-header-container #wpmm-megamenu .review-total-only { background-color:#fac759; color: #fff!important; }
         #navigation > ul > li:hover, .hex-color:before {border-bottom-color:#fac759;}
         .hex-color:after {border-top-color:#fac759;}
         .footer-social-icons span.fa:hover, .main-header-container-cover {background-color: #fac759;}
         .bypostauthor {padding: 3%!important; background: #FAFAFA; width: 94%!important; border-radius: 4px; }
         .bypostauthor:after { content: "Author"; position: absolute; right: -1px; top: 0px; padding: 1px 10px; color: #FFF; border-radius: 0 4px;}
         .home.blog.main .logo-wrap, .logo-wrap, #logo, #logo a, #logo img { float: none; margin: 0 auto; text-align: center; } #logo { margin-top: 20px; }.home .app-title, .app-description { color:#ffffff}section#intro{background-color:#eeeeee;}section#intro{background-image: url( ../header-background-optimized.jpg );}section#overview{background-color:#ffffff;}section#overview{background-image: url(../nobg.png );}.overview-section h3, .overview-section-description {color:#333333;} .overview-section .owl-controls .owl-pagination .owl-page.active {background-color: #333333; border: 1px solid #333333;}section#features{background-color:#fac759;}section#features{background-image: url(../nobg.png );}.features-section h3, .features-list-container, .features-list-container h4, .features-list-container .feature-description, .features-list-container span.fa, .features-section-description {color:#8e5a16;}section#carousel{background-color:#ffffff;}section#carousel{background-image: url(../nobg.png );}.carousel-section h3, .carousel-section-description {color:#333333;} .carousel-section .owl-controls .owl-pagination .owl-page.active {background-color:#333333;border: 1px solid #333333;}section#testimonials, .testimonial-rating-div {background-color:#fac759;}section#testimonials{background-image: url(../nobg.png );}.testimonials-section h3, .testimonials-section .testimonial-name, .testimonials-section .testimonial-description, .testimonial-section-description, .star-filled-color {color:#8e5a16;} .slider-images-section .owl-controls .owl-pagination .owl-page {background-color:#8e5a16;border: 1px solid #8e5a16;}section#contact{background-color:#ffffff;}section#contact{background-image: url(../nobg.png );}.contact-section h3 {color:#333333;} .contact-info-container h4 {color: #333333;} .contact-info-container .contact-company-address{color: #333333;} .contact-info-container .contact-section-email {color: #333333;}#home-page-contact-form input[type=radio]:not(old):checked + label {background-color: #fac759;}
         #home-page-contact-form input[type=radio]:not(old):checked + label > span > span{background-image : -moz-linear-gradient(#333333,#333333); background-image : -ms-linear-gradient(#333333,#333333); background-image : -o-linear-gradient(#333333,#333333); background-image : -webkit-linear-gradient(#333333,#333333); background-image : linear-gradient(#333333,#333333);}
         #home-page-contact-form input[type=radio]:not(old):checked + label > span {border: 1px solid #333333;}header.main-header {background-color:#ffffff !important;} .main-header-container{background:transparent;}header.main-header {background-image: url(../nobg.png ) !important;}footer.footer {background-color:#e1e1e1;}footer.footer {background-image: url(../nobg.png );}.copyrights {border-top:none;}
      </style>
      <link rel="stylesheet" id="fontawesome-css" href="../font-awesome.min.css" type="text/css" media="all">
      <link rel="stylesheet" id="responsive-css" href="../responsive.css" type="text/css" media="all">
      <script type="text/javascript" src="../jquery.js"></script>
      <script type="text/javascript" src="../jquery-migrate.min.js"></script>
      <script type="text/javascript" src="../customscript.js"></script>
      <!--Theme by MyThemeShop.com-->
      <link rel="canonical" href="https://www.leighwoodasia.com/bogo-plugin/">
      <link rel="shortlink" href="https://www.leighwoodasia.com/?p=2315">
      <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
      <style type="text/css" id="wp-custom-css">
         @media only screen and (max-device-width: 480px) {
         .no-map-contact-info-main-contanier .no-map-contact-info-container{width:88%;}
         #blog.page .main-header, #blog.single .main-header{margin-bottom:0px;}
         .post-2315 img.aligncenter{margin-top:0px;}
         }
         .post-2315 .entry-title{display:none;}
         .page-id-2315 .main-header-container-cover{margin-bottom:0px;}
         #logo{height:150px;width:120px;}
         .main-header-container{height:150px;}
         .logo-wrap{height:150px;}
         .carousel-slides-container{display:none;}
         footer.footer{background-color:#fff;}
         #copyright-note .footer-copyright-text{color:#222;}		
      </style>
   </head>
   <body id="blog" class="page-template-default page page-id-2315 main" itemscope="" itemtype="http://schema.org/WebPage">
      <div id="move-to-top" class="animate filling"><i class="fa fa-chevron-up"></i></div>
      <div class="main-container">
         <header class="main-header main-header-home" role="banner" itemscope="" itemtype="http://schema.org/WPHeader">
            <div class="main-header-container container">
               <div class="logo-wrap">
                  <h2 id="logo" class="image-logo" itemprop="headline">
                     <a href="../"><img src="../Leighwood-logo.png" alt="Leighwood Macau Ltd."></a>
                  </h2>
                  <!-- END #logo -->
               </div>
            </div>
         </header>
         <div class="main-header-container-cover">
            <div class="single container top-container constrict">
               <div class="title-container">
                  <h1 class="text-heading">Bogo Plugin</h1>
               </div>
               <div class="breadcrumb text-right" xmlns:v="http://rdf.data-vocabulary.org/#">
                  <div><i class="fa fa-home"></i></div>
                  <div typeof="v:Breadcrumb" class="root"><a rel="v:url" property="v:title" href="../">Home</a></div>
                  <div><i class="fa fa-caret-right"></i></div>
                  <div><span>Bogo Plugin</span></div>
               </div>
               <div class="clearfix"></div>
            </div>
         </div>
         <div id="page" class="single">
            <article class="ss-full-width">
               <div id="post-2315" class="g post post-2315 page type-page status-publish hentry">
                  <div class="single_page">
                     <header>
                        <h1 class="title entry-title">Bogo Plugin</h1>
                     </header>
                     <div class="post-content box mark-links entry-content">
                        <p><img src="../bogo-ban.png" alt="" width="1500" height="500" class="aligncenter size-full wp-image-2379" srcset="../bogo-ban.png 1500w, ../bogo-ban-300x100.png 300w, ../bogo-ban-768x256.png 768w, ../bogo-ban-1024x341.png 1024w" sizes="(max-width: 1500px) 100vw, 1500px"></p>
                        <h2>BOGO: Buy X Get X Free</h2>
                        <h4>By LEIGHWOODASIA</h4>
                        <h3>Description</h3>
                        <p><strong>BOGO: Buy X Get X Free makes it easy to setup Buy One, Get One promotions in your WooCommerce powered store!</strong></p>
                        <p>Setting up BOGO Free deals in your WooCommerce powered store has 
                           never been as easy as this. Give your BOGO deal a name and click 
                           Publish. And everything is ready!
                        </p>
                        <p>BOGO: Buy X Get X Free is so so easy to use and setup. It saves you a lot of time … and time these days is money!</p>
                        <p><strong>Server Requirements</strong></p>
                        <ul>
                           <li>PHP version 5.6 or greater (we recommend 7.3 or greater)</li>
                           <li>MySQL version 5.6 or greater OR MariaDB version 10.0 or greater</li>
                           <li>PHP memory of 128M or greater</li>
                        </ul>
                        <h3>Screenshots</h3>
                        <p><a href="../offers_cart.png"><img class="alignleft size-wp_review_large wp-image-2323" src="../offers_cart-320x240.png" alt="" width="320" height="240"></a></p>
                        <p><a href="../offers_create_new.png"><img class="alignleft size-wp_review_large wp-image-2324" src="../offers_create_new-320x240.png" alt="" width="320" height="240"></a></p>
                        <p><a href="../offers_edit.png"><img class="alignleft size-wp_review_large wp-image-2325" src="../offers_edit-320x240.png" alt="" width="320" height="240" srcset="../offers_edit-320x240.png 320w, ../offers_edit-300x224.png 300w, ../offers_edit-768x573.png 768w, ../offers_edit.png 969w" sizes="(max-width: 320px) 100vw, 320px"></a></p>
                        <p><a href="../offers_list.png"><img class="alignleft size-wp_review_large wp-image-2326" src="../offers_list-320x240.png" alt="" width="320" height="240"></a></p>
                        <p><a href="../offers_product_page.png"><img class="alignleft size-wp_review_large wp-image-2327" src="../offers_product_page-320x240.png" alt="" width="320" height="240"></a></p>
                        <div style="clear: both;"></div>
                        <h3>Installation</h3>
                        <ol>
                           <li>Upload the plugin files to the “/wp-content/plugins/pw-bogo” 
                              directory, or install the plugin through the WordPress plugins screen 
                              directly.
                           </li>
                           <li>Activate the plugin through the ‘Plugins’ screen in WordPress</li>
                           <li>Access the plugin using your WordPress menu under “Buy X Get X”</li>
                        </ol>
                        <h3>Video</h3>
                        <p><iframe src="../RTg6G7EEuuI.htm" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                        <h3>FAQ</h3>
                        <h5>How to create a new BOGO promotion?</h5>
                        <p>Give your BOGO deal a name and click Publish.</p>
                        <h5>How to remove a BOGO promotion?</h5>
                        <p>Open your BOGO deal and hit the Move to Trash button.</p>
                     </div>
                     <!--.post-content box mark-links-->
                  </div>
               </div>
               <!-- You can start editing here. -->
               <!-- If comments are closed. -->
               <p class="nocomments"></p>
            </article>
         </div>
         <!--#page-->
         <footer class="footer" role="contentinfo" itemscope="" itemtype="http://schema.org/WPFooter">
            <div class="container">
               <div class="copyrights">
                  <!--start copyrights-->
                  <div class="row" id="copyright-note">
                     <div class="footer-site-logo">
                        <img src="../Leighwood-logo.png" alt="Leighwood Macau Ltd.">
                        &nbsp;
                     </div>
                     <div class="footer-copyright-text">
                        <span>2025 © © Copyright 2019 LeighWoodAsia.com. All Rights Reserved. </span>
                     </div>
                     <div class="footer-social-icons">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-instagram"></span></a>
                        &nbsp;
                     </div>
                  </div>
                  <!--end copyrights-->
               </div>
            </div>
            <!--.container-->
         </footer>
         <!--footer-->
      </div>
      <!--.main-container-->
      <script>
         jQuery(document).ready(function($){
             window.scrollReveal = new scrollReveal();
         });
      </script>
      <link href="../css.css" rel="stylesheet" type="text/css">
      <style type="text/css">
         .menu li, .menu li a { font-family: 'Open Sans'; font-weight: ; font-size: 15px; color: #707070; }
         .single-title a, .single-title { font-family: 'Open Sans'; font-weight: ; font-size: 28px; color: #000000; }
         body { font-family: 'Open Sans'; font-weight: ; font-size: 15px; color: #616161; }
         #sidebars .widget { font-family: 'Open Sans'; font-weight: ; font-size: 14px; color: #808080; }
         #copyright-note .footer-copyright-text a { font-family: 'Open Sans'; font-weight: ; font-size: 14px; color: #bcbcbc; }
         h1 { font-family: 'Open Sans'; font-weight: ; font-size: 28px; color: #000000; }
         h2 { font-family: 'Open Sans'; font-weight: ; font-size: 24px; color: #000000; }
         h3 { font-family: 'Open Sans'; font-weight: ; font-size: 22px; color: #000000; }
         h4 { font-family: 'Open Sans'; font-weight: ; font-size: 20px; color: #000000; }
         h5 { font-family: 'Open Sans'; font-weight: ; font-size: 18px; color: #000000; }
         h6 { font-family: 'Open Sans'; font-weight: ; font-size: 16px; color: #000000; }
      </style>
      <script type="text/javascript" src="../js.cookie.min.js"></script>
      <script type="text/javascript" src="../underscore.min.js"></script>
      <script type="text/javascript">
         /* <![CDATA[ */
         var _wpUtilSettings = {"ajax":{"url":"\/wp-admin\/admin-ajax.php"}};
         /* ]]> */
      </script>
      <script type="text/javascript" src="../wp-util.min.js"></script>
      <script type="text/javascript">
         /* <![CDATA[ */
         var wpreview = {"ajaxurl":"https:\/\/www.leighwoodasia.com\/wp-admin\/admin-ajax.php","rateAllFeatures":"Please rate all features","verifiedPurchase":"(Verified purchase)"};
         /* ]]> */
      </script>
      <script type="text/javascript" src="../main.js"></script>
      <script type="text/javascript" src="../wp-embed.min.js"></script>
      <script type="text/javascript" src="../scrollReveal.js"></script>
   </body>
</html>
